<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Notepad</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Веб-блокнот</h1>
  
  <form action="/add-note" method="POST">
    <textarea name="note" placeholder="Введите вашу заметку..." required></textarea>
    <button type="submit">Добавить</button>
  </form>

  <h2>Ваши заметки:</h2>
  <ul>
    <% notes.forEach(note => { %>
      <li>
      <strong><%= note.content %></strong><br>
      <small>
        Добавлено: 
  <%= new Date(note.createdAt).toLocaleString('ru-RU', {
       timeZone: 'Asia/Almaty', // Укажите ваш временной пояс
       day: '2-digit',
       month: '2-digit',
       year: 'numeric',
       hour: '2-digit',
       minute: '2-digit',
       second: '2-digit',
       hour12: false
     }).replace(',', '').replace(/\//g, '-') %>
      </small>
    </li>
    <% }) %>
  </ul>
</body>
</html>
